<html ng-app="Reproductor">

<head>
    <title>Magic Music</title>
    <link rel="stylesheet" href="Estilos/estilos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="codigo/app.js"></script>
</head>

<body ng-controller="ControladorReproductor">
    <div class="principal">
        <h1> MAGIC MUSIC</h1>
        <div class="artistas">
            <div class="ListaDeArtistas">
                <h2> Artistas</h2>
                <ul>
                    <li ng-repeat="artista in artistas" ng-click="SeleccionarArtista(artista)">
                        {{ artista.Nombre }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="ListaDeCanciones">
            <h2 ng-if="artistasSeleccionado!=''"> Canciones De {{artistasSeleccionado}}</h2>
            <ul>
                <li ng-repeat="cancion in canciones" ng-click="SeleccionarCancion(cancion)">
                    {{cancion.Titulo}}
                </li>
            </ul>

        </div>
    </div>
    <div class="Plays">
        <h3>Reproduciendo Ahora</h3>
       {{cancionSeleccionada}}
       <div>
        <button ng-click="reproducir()">
            <img src="iconos/3671827_outline_pause_icon.png">
        </button>
        <button>
            <img src="iconos/6127266_multimedia_music_play_player_song_icon.png">
        </button>
        <button>
            <img src="iconos/9057067_play_stop_o_icon.png">
        </button>
       </div>
    </div>

</body>

</html>