<html ng-app="Reproductor">

<head>
    <title>Magic Music</title>
    <link rel="stylesheet" href="Estilos/estilos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="codigo/app.js"></script>
</head>

<body ng-controller="ControladorReproductor">
    <div class="principal">
        <h1> MAGIC MUSIC</h1>
        <div class="artistas">
            <div class="ListaDeArtistas">
                <h2> Artistas</h2>
                <ul>
                    <li ng-repeat="artista in artistas" ng-click="SeleccionarArtista(artista)">
                        {{ artista.Nombre }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="canciones">
            <div class="ListaDeCanciones">
                <h3> Canciones De</h3>
                <ul>
                    <li ng-repeat="cancion in canciones" ng-click="SelecionarCancion(cancion)">
                        {{cancion.Titulo}}

                    </li>
                </ul>

            </div>


        </div>
    </div>
    </div>

</body>

</html>